doctype html
html 
    head 
        title= `${title}`
        meta(http-equiv='Cache-Control' content='no-store, no-cache, must-revalidate, post-check=0, pre-check=0')
        meta(http-equiv='Pragma' content='no-cache')
        meta(http-equiv='Expires' content='-1')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1= "List Custom Objects | Integrating With HubSpot I Practicum"
        br
        h2= "Skills"
        br
        div(style="text-align: center;")
            a(href="/update-cobj") Add/Update this table
        br
        br 
        table(id='skillsTable')
            thead
                tr
                    th Name
                    th Technique(s)
                    th Music genre(s)
                    th Complexity level
                    th Execution level
                    th Description
            tbody
                each skill in data
                    tr
                        td #{skill.name}
                        td 
                            ul
                                each item in skill.technique
                                    li * #{item.label}
                        td 
                            ul
                                each item in skill.music_genre
                                    li * #{item.label}
                        td #{skill.complexity_level.label}
                        td #{skill.execution_level.label}
                        td #{skill.description}


                    